---
title: ズルいデザインハンズオン
layout: layout
---

%header
  %nav.wrap
    %ul
      %li= link_to "ズルいデザインハンズオン", "/",{:class => "logo"}
%main
  #features
    .wrap.columns3
      .feature
        %h2
          %a{:href => "01-basic.html", :target=> "_blank"}
            01-basic.sass
        %p
          Sassの基本的な書き方
      .feature
        %h2
          %a{:href => "02-basic.html", :target=> "_blank"}
            02-basic.sass
        %p
          Sassの基本的な書き方に挑戦
      .feature
        %h2
          %a{:href => "03-basic.html", :target=> "_blank"}
            03-basic.sass
        %p
          変数って何？

    .wrap.columns3
      .feature
        %h2
          %a{:href => "03-basic2.html", :target=> "_blank"}
            03-basic2.sass
        %p
          変数にした
      .feature
        %h2
          %a{:href => "04-basic.html", :target=> "_blank"}
            04-basic.sass
        %p
          Sassの四則演算
      .feature
        %h2
          %a{:href => "04-basic2.html", :target=> "_blank"}
            04-basic2.sass
        %p
          幅を変数にした

    .wrap.columns3
      .feature
        %h2
          %a{:href => "04-basic3.html", :target=> "_blank"}
            04-basic3.sass
        %p
          四則演算を使った
      .feature
        %h2
          %a{:href => "05-basic.html", :target=> "_blank"}
            05-basic.sass
        %p
          Sassのcolor functionsを使う
      .feature
        %h2
          %a{:href => "06-basic.html", :target=> "_blank"}
            06-basic.sass
        %p
          mixinって何？

    .wrap.columns3
      .feature
        %h2
          %a{:href => "06-basic2.html", :target=> "_blank"}
            06-basic2.sass
        %p
          mixinを使った
      .feature
        %h2
          %a{:href => "06-basic3.html", :target=> "_blank"}
            06-basic3.sass
        %p
          mixinに変数を使う
      .feature
        %h2
          %a{:href => "06-basic4.html", :target=> "_blank"}
            06-basic4.sass
        %p
          mixinにifを使う

    .wrap.columns3
      .feature
        %h2
          %a{:href => "07-zurui.html", :target=> "_blank"}
            07-zurui.sass
        %p
          ズルい線
      .feature
        %h2
          %a{:href => "07-zurui2.html", :target=> "_blank"}
            07-zurui2.sass
        %p
          もっと背景が黒い場合のズルい線
      .feature
        %h2
          %a{:href => "08-zurui.html", :target=> "_blank"}
            08-zurui.sass
        %p
          ズルいテキストシャドウ

    .wrap.columns3
      .feature
        %h2
          %a{:href => "08-zurui2.html", :target=> "_blank"}
            08-zurui2.sass
        %p
          もっと背景が黒い場合のズルいテキストシャドウ
      .feature
        %h2
          %a{:href => "09-zurui.html", :target=> "_blank"}
            09-zurui.sass
        %p
          ズルいボタン
      .feature
        %h2
          %a{:href => "09-zurui2.html", :target=> "_blank"}
            09-zurui2.sass
        %p
          ズルいボタンをmixinにする

%footer
  .wrap
    %nav
      %ul
        %li= link_to "nav-link", "/"
        %li= link_to "nav-link", "/"
        %li= link_to "nav-link", "/"
        %li= link_to "nav-link", "/"
    %p#copyright © 2013 you, inc.